<section id="doing-stuff">
    <section id="running-node-code">
        <h4>Suppose you have a package.json...</h4>
        <pre><code class="json">
    {
        "devDependencies": {
            "eslint": "^4.2.0",
            "jest": "^20.0.4",
            "watch": "^1.0.2"
        },
        "scripts": {
            "lint": "eslint ./lib/*.js --fix",
            "lint:watch": "watch 'npm run lint' ./lib",
            "pretest": "npm run lint",
            "test": "jest",
            "test:watch": "npm test -- --watch"
        }
    }
        </code></pre>
    </section>
    <section id="advice-4" data-background="img/using-ntl.png"></section>
    <section id="advice-5">
        <h3>Advice #5</h3>
        <blockquote>Think global, install local, use <code>npx</code>.</blockquote>
        <pre><code class="bash">
    # scaffold a React app
    npx create-react-app my-super-cool-app

    # quickly configure a vue project
    npx vue-cli init webpack my-super-cool-app

    # what does the cow say?
    npx cowsay moo
        </code></pre>
    </section>
    <section id="using-npx">
        <h3>Advice #5a</h3>
        <blockquote>Think global, install local, use <code>npx</code>.</blockquote>
        <pre><code class="bash">
    # You cannot use local dependencies outside of npm script...
    npm install jest
    jest

    # unless you install globally
    npm install jest --global

    # ...or use npx!
    npx jest
        </code></pre>
    </section>
    <section id="dangerous-to-go-alone-again" data-background="img/dangerous-to-go-alone.png">
        <pre class="fragment"><code class="bash">
    npm install --global npx@latest
        </code></pre>
    </section>
    <section id="write-review-build-test" data-background="img/npm-run-dev.png">
        <span class="fragment" style="background-color:rgba(0,0,0,0.85);padding:20px 40px;border-radius:10px;">
            <a href="https://github.com/jhwohlgemuth/voxelcss/blob/master/package.json#L67"><code>npm run dev</code></a>
        </span>
    </section>
    <section id="deploy-code">
        <h3>Deploy Node</h4>
        <pre class="fragment"><code class="json">
    {
        "name": "my-super-cool-module",
        "scripts": {
            "preversion": "npm test",
            "postversion": "git push && git push --tags"
        }
    }
        </code></pre>
        <pre class="fragment"><code class="bash">
    # bump the version (patch, minor, major)
    npm version minor

    # publish to npm (private or public)
    npm publish
        </code></pre>
    </section>
    <section id="deploy-code-example">
        <h3>Deploy Node Example</h4>
        <p class="fragment">this presentation</p>
        <ul>
            <li class="fragment">Scaffold <a href="http://lab.hakim.se/reveal-js/#/">Reveal.js presentation</a> with Yeoman generator</li>
            <li class="fragment">Edit presentation with Atom (live reload in browser)</li>
            <li class="fragment">Deploy to <a href="https://github.com/jhwohlgemuth/slides-developing-with-node">GitHub</a> (connected to <a href="https://www.heroku.com/">Heroku</a>)</li>
        </ul>
    </section>
    <section id="win-the-internet" data-background-image="img/winning.gif"></section>
</section>
