<div class="reveal">
	<div class="slides">
		<section id="title" data-markdown>
			<script type="text/template">
				## Developing *with* Node.js
				#### Build, Scaffold, Test
				<br /> [by Jason Wohlgemuth](https://twitter.com/@jhwohlgemuth)
			</script>
		</section>
		<section id="intro" data-markdown data-transition="convex">
			<script type="text/template">
				## Who Am I?
				##### Jason Wohlgemuth
				<img src="img/profile.jpg" class="img-circle img-responsive img-center profile" />
				<br /> [
				<i class="fa fa-twitter" aria-hidden="true"></i>/@jhwohlgemuth](https://twitter.com/@jhwohlgemuth)&nbsp;&nbsp;&nbsp;[<i class="fa fa-github" aria-hidden="true"></i>/jhwohlgemuth](https://github.com/jhwohlgemuth)<br />
			</script>
		</section>
		<section id="agenda">
			<h2>Agenda</h2>
			<ol>
				<li class="fragment fade-up">Let's talk versions and long-term support</li>
				<li class="fragment fade-up">Getting started with Node.js</li>
				<li class="fragment fade-up">Write, Review, Build, Test, Deploy, Repeat</li>
			</ol>
		</section>
		<section id="kind-of-a-big-deal" data-background="img/my-contribution.png" data-background-size="contain"></section>
		<section id="gimme-some-socks" data-background="img/my-npm-contribution.png" data-background-size="contain"></section>
		<% include versioning %>
		<% include getting-started %>
		<% include doing-stuff %>
		<section id="references" data-background="img/web-surfing-time.gif">
			<h3>References</h3>
			<div style="padding:20px;background-color:rgba(0,0,0,0.8);border-radius:20px;">
				<ul>
					<li><a href="https://nodejs.org/en/foundation/">Node.js Foundation Homepage</a></li>
					<li><a href="https://github.com/nodejs/LTS">Node.js Foundation LTS Working Group</a></li>
					<li><a href="https://node.cool/">node.cool</a></li>
					<li><a href="https://kangax.github.io/compat-table/es6/">ES6 Compatibility Table</a></li>
					<li><a href="https://medium.com/@maybekatz/introducing-npx-an-npm-package-runner-55f7d4bd282b">Introducing npx</a></li>
				</ul>
			</div>
		</section>
	</div>
</div>
